.info-bar {
    border: 1px solid red;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.info-bar-inner {
    position: relative;
}

.info-bar p {
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 2px;
    top: 2px;
}