.ingredients {
	border-top: $card-section-border;
	margin: 0;
	padding: 0;

	&__label {
		color: $color-card-text;
		display: block;
		font-weight: 700;
		text-align: left;
	}

	ul {
		margin: 0 0 0 20px;
		padding: 0;
	}

	li {
		color: $color-card-text;
		font-weight: 600;
		text-align: left;
	}
}
