.card-title {
	color: $color-card-text;
	font-size: var(--title-font-size);
	font-weight: bold;
	left: var(--card-inner-padding);
	margin: 0;
	position: absolute;
	top: var(--title-top);
	z-index: 2;
}
