.difficulty-icon {
	bottom: var(--difficulty-icon-bottom);
	height: var(--difficulty-icon-size);
	right: var(--card-inner-padding);
	position: absolute;
	width: var(--difficulty-icon-size);
	z-index: 2;
}
