.card-info {
	bottom: var(--card-bottom-padding);
	left: var(--card-inner-padding);
	overflow: hidden;
	position: absolute;
	right: var(--card-inner-padding);
	top: var(--card-info-top);
	z-index: 2;
}

.card-info__row {
	display: flex;
}
