.toppings {
    margin: 0;
    padding: 0;
    border-top: 2px solid #000000;
}

.toppings__label {
    display: block;
    font-weight: 700;
    text-align: left;
    color: black;
}

.toppings ul {
    margin: 0 0 0 20px;
    padding: 0;
}

.toppings li {
    text-align: left;
    color: black;
    font-weight: 600;
}
