.toppings {
	border-top: $card-section-border;
	font-size: var(--toppings-font-size);
	margin: 0;
	padding: 0;
	padding-bottom: var(--card-info-padding-bottom);

	&__label {
		color: $color-card-text;
		display: block;
		font-weight: 700;
		text-align: left;
	}

	ul {
		margin: 0 0 0 20px;
		padding: 0;
	}

	li {
		color: $color-card-text;
		font-weight: 600;
		text-align: left;
	}
}
